---
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -1
ContinuationIndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: "false"
  AfterControlStatement: MultiLine
  AfterEnum: "false"
  AfterFunction: "true"
  AfterNamespace: "false"
  AfterStruct: "false"
  AfterUnion: "false"
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: "false"
  AfterObjCDeclaration: "true"
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
BreakBeforeTernaryOperators: true
SpaceAfterTemplateKeyword: false
FixNamespaceComments: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
ReflowComments: true
UseTab: Never
TabWidth: 4
IndentWidth: 4
PenaltyReturnTypeOnItsOwnLine: 10000
PenaltyBreakAssignment: 100
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: Never
AlignEscapedNewlines: Left
AlwaysBreakBeforeMultilineStrings: false
PenaltyBreakString: 1000000
ForEachMacros:
  - BEGIN_ANIMFILTER_SUBCHANNELS
  - BKE_pbvh_vertex_iter_begin
  - BKE_pbvh_face_iter_begin
  - BLI_FOREACH_SPARSE_RANGE
  - BLI_SMALLSTACK_ITER_BEGIN
  - BMO_ITER
  - BMO_ITER_INDEX
  - BMW_ITER
  - BM_FACES_OF_VERT_ITER_BEGIN
  - BM_ITER_BPY_BM_SEQ
  - BM_ITER_ELEM
  - BM_ITER_ELEM_INDEX
  - BM_ITER_MESH
  - BM_ITER_MESH_INDEX
  - BM_ITER_MESH_MUTABLE
  - BM_LOOPS_OF_VERT_ITER_BEGIN
  - BOOST_FOREACH
  - CTX_DATA_BEGIN
  - CTX_DATA_BEGIN_WITH_ID
  - DEG_OBJECT_ITER_BEGIN
  - DEG_OBJECT_ITER_FOR_RENDER_ENGINE_BEGIN
  - DRW_ENABLED_ENGINE_ITER
  - DRIVER_TARGETS_LOOPER_BEGIN
  - DRIVER_TARGETS_USED_LOOPER_BEGIN
  - FOREACH_BASE_IN_EDIT_MODE_BEGIN
  - FOREACH_BASE_IN_MODE_BEGIN
  - FOREACH_BEGIN
  - FOREACH_COLLECTION_BEGIN
  - FOREACH_COLLECTION_OBJECT_RECURSIVE_BEGIN
  - FOREACH_COLLECTION_VISIBLE_OBJECT_RECURSIVE_BEGIN
  - FOREACH_EDIT_OBJECT_BEGIN
  - FOREACH_MAIN_ID_BEGIN
  - FOREACH_MAIN_LISTBASE_BEGIN
  - FOREACH_MAIN_LISTBASE_ID_BEGIN
  - FOREACH_MESH_BUFFER_CACHE
  - FOREACH_NODETREE_BEGIN
  - FOREACH_OBJECT_BEGIN
  - FOREACH_OBJECT_FLAG_BEGIN
  - FOREACH_OBJECT_IN_EDIT_MODE_BEGIN
  - FOREACH_OBJECT_IN_MODE_BEGIN
  - FOREACH_OBJECT_RENDERABLE_BEGIN
  - FOREACH_PCHAN_SELECTED_IN_OBJECT_BEGIN
  - FOREACH_PCHAN_VISIBLE_IN_OBJECT_BEGIN
  - FOREACH_SCENE_COLLECTION_BEGIN
  - FOREACH_SCENE_OBJECT_BEGIN
  - FOREACH_SELECTED_BASE_BEGIN
  - FOREACH_SELECTED_BEZT_BEGIN
  - FOREACH_SELECTED_EDITABLE_OBJECT_BEGIN
  - FOREACH_SELECTED_OBJECT_BEGIN
  - FOREACH_TRANS_DATA_CONTAINER
  - FOREACH_VIEW_LAYER_TO_RENDER_BEGIN
  - FOREACH_VISIBLE_BASE_BEGIN
  - FOREACH_VISIBLE_OBJECT_BEGIN
  - GHASH_FOREACH_BEGIN
  - GHASH_ITER
  - GHASH_ITER_INDEX
  - GPU_SELECT_LOAD_IF_PICKSEL_LIST
  - GP_EDITABLE_STROKES_BEGIN
  - GP_EVALUATED_STROKES_BEGIN
  - GSET_FOREACH_BEGIN
  - GSET_ITER
  - GSET_ITER_INDEX
  - ITER_BEGIN
  - ITER_PIXELS
  - ITER_SLOTS
  - ITER_SLOTS_BEGIN
  - LOOP_EDITED_POINTS
  - LOOP_KEYS
  - LOOP_POINTS
  - LOOP_SELECTED_KEYS
  - LOOP_SELECTED_POINTS
  - LOOP_TAGGED_KEYS
  - LOOP_TAGGED_POINTS
  - LOOP_UNSELECTED_POINTS
  - LOOP_VISIBLE_KEYS
  - LOOP_VISIBLE_POINTS
  - LIGHT_FOREACH_BEGIN_DIRECTIONAL
  - LIGHT_FOREACH_BEGIN_LOCAL
  - LISTBASE_CIRCULAR_BACKWARD_BEGIN
  - LISTBASE_CIRCULAR_FORWARD_BEGIN
  - LISTBASE_FOREACH
  - LISTBASE_FOREACH_BACKWARD
  - LISTBASE_FOREACH_MUTABLE
  - LISTBASE_FOREACH_BACKWARD_MUTABLE
  - LISTBASE_FOREACH_INDEX
  - MAN_ITER_AXES_BEGIN
  - NODE_INSTANCE_HASH_ITER
  - NODE_SOCKET_TYPES_BEGIN
  - NODE_TREE_TYPES_BEGIN
  - NODE_TYPES_BEGIN
  - PIXEL_LOOPER_BEGIN
  - PIXEL_LOOPER_BEGIN_CHANNELS
  - RENDER_PASS_ITER_BEGIN
  - RNA_BEGIN
  - RNA_PROP_BEGIN
  - RNA_STRUCT_BEGIN
  - RNA_STRUCT_BEGIN_SKIP_RNA_TYPE
  - SCULPT_VERTEX_DUPLICATES_AND_NEIGHBORS_ITER_BEGIN
  - SCULPT_VERTEX_NEIGHBORS_ITER_BEGIN
  - SEQ_ALL_BEGIN
  - SEQ_ITERATOR_FOREACH
  - SURFACE_QUAD_ITER_BEGIN
  - foreach
  - ED_screen_areas_iter
  - SLOT_PROBING_BEGIN
  - SET_SLOT_PROBING_BEGIN
  - MAP_SLOT_PROBING_BEGIN
  - VECTOR_SET_SLOT_PROBING_BEGIN
  - WL_ARRAY_FOR_EACH
  - FOREACH_SPECTRUM_CHANNEL
StatementMacros:
  - PyObject_HEAD
  - PyObject_VAR_HEAD
  - ccl_gpu_kernel_postfix
MacroBlockBegin: ^OSL_CLOSURE_STRUCT_BEGIN$
MacroBlockEnd: ^OSL_CLOSURE_STRUCT_END$
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: false
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveAssignments:
  Enabled: true
AlignArrayOfStructures: Left
AllowShortCaseLabelsOnASingleLine: false
IndentCaseBlocks: false
SpaceAfterCStyleCast: false
SpaceInEmptyBlock: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortEnumsOnASingleLine: false
